* {
  box-sizing: border-box;
}
body {
  background-color: #5280c5;
  color: #003366;
  font-family: Verdana, Arial, sans-serif;
  background-image: url('./image/gradientblue.jpg');
}
header {
  background-color: #000066;
  color: #f0f0f0;
  background-image: url('./image/bigfish.gif');
  background-position: center;
  background-size: auto;
  text-align: center;
  background-repeat: no-repeat;
}
h1 {
  line-height: 250%;
  text-indent: 1em;
  margin: 0;
  font-size: 3em;
  padding: 0.2em;
  text-shadow: #cccccc;
}
nav a {
  font-weight: bold;
  text-decoration: none;
}
nav {
  float: left;
  font-weight: bold;

  width: 150px;
}
nav a:link {
  color: #3262a3;
}
nav a:hover {
  color: #cccccc;
}
nav a:visited {
  color: #6699ff;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  list-style: none;
}

main {
  margin-left: 180px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: white;
  border: 1px solid #aec3e3;
}
main dt {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', serif;
}
main ul li strong {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', serif;
}
main ul {
  list-style-type: none;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  background-color: #aec3e3;
  padding: 1em;
  margin-left: 180px;
}
#wrapper {
  min-width: 700px;
  width: 80%;
  margin: 0 auto;
  background-color: #3262a3;
}
header,
nav,
main,
footer {
  display: block;
}
img {
  border: none;
}
#mobile {
  display: none;
}
#desktop {
  display: inline;
}
@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: none;
  }
  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
  }
  h1 {
    margin: 0;
    font-size: 1.8em;
    line-height: 200%;
  }
  nav {
    float: none;
    padding: 0;
    width: auto;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    padding: 1em;
    font-size: 1.2em;
  }
  nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  main {
    font-size: 90%;
    margin: 0;
    padding-left: 2em;
  }
  footer {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    line-height: 120%;
  }
  nav a {
    display: block;
    padding: 0.2em;
    font-size: 1em;
  }
  nav li {
    border-bottom: 1px solid #330000;
    display: block;
  }
  nav ul {
    text-align: left;
  }
  main {
    padding-left: 1em;
  }
  a {
    text-shadow: none;
  }
  #mobile {
    display: inline;
  }
  #desktop {
    display: none;
  }
}

table {
  margin: 1em;
  color: darkblue;
  border: 2px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5em;
  border: 1px solid darkblue;
}
video {
  float: right;
  margin: 1em;
}
