body {
  background-color: #ffffff;
  color: #003366;
  font-family: Verdana, Arial, sans-serif;
}
header {
  background-color: #003366;
  color: #f0f0f0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url('./image/bigfish.gif');
  background-size: auto;
  text-align: center;
  background-repeat: no-repeat;
}
h1 {
  line-height: 250%;
  text-indent: 1em;
}
nav a {
  font-weight: bold;
}
nav {
  text-align: center;
  background-color: #5280c5;
  padding: 5px;
}
main {
  padding-left: 10px;
  padding-right: 10px;
}
main dt {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', serif;
}
main ul li strong {
  color: #5280c5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', serif;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  background-color: #aec3e3;
}
#wrapper {
  min-width: 700px;
}
img {
  border: none;
}
